/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  .carrusel .slide-text p{
    display: none;

  }

  .carrusel .slide-text h1{
    font-size: 25px;

  }

  .left, .right{
    font-size: 30px;
  }

  .carrusel li img{
    width: 600px;
  }
  .pagination{
    display: none;
  }
  .footer{
    width: 100%;
  }
  .footer p{
    font-size: 11px;
  }
  .firmas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

  }
  .firms-content{
    width: 50%;
  }
}

@media screen and (max-width: 580px) {

  #slider .v-container{
    height: 80vh;
  }

  #slider .black-slide{
    height: 80vh;
  }

  #slider .slide{
    height: 80vh;
  }

  .carrusel li{
    height: 80vh;
  }

  #slider .v-container .container h2{
    font-size: 45px;
  }

  #slider .v-container .container p{
    font-size: 15px;
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  #medals ul a{
    margin: 10px;
    border: 5px solid #000;
    width: 120px;
    height: 120px;
  }

  .carrusel li:nth-child(1){
    background:url(../img/img1.jpg);
    background-size:auto 100vh;
    background-position:center;
  }

  .carrusel li:nth-child(2){
    background:url(../img/img2.jpg);
    background-size:auto 100vh;
    background-position:center;
  }

  .carrusel li:nth-child(3){
    background:url(../img/img3.jpg);
    background-size:auto 100vh;
    background-position:center;
  }

  #form-container .form-c .log-c{
    width: 85%;
    max-width: 440px;
    min-height: calc(40vh + 40px);
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 40px auto;
  }

  #form-container .form-c .log-c .icon-x{
    position: absolute;
    background: #333;
    border-radius: 3600px;
    padding: 15px;
    box-sizing: border-box;
    top: -20px;
    right: -20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  #form-container .form-c .log-c h2{
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 4px solid #191919;
    border-top: 4px solid #191919;
    color: #191919;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
    margin-left: 0px;
    box-sizing: border-box;

    width: 100%;
    font-weight: bold;
  }

  #form-container .form-c .log-c form{
    padding: 0px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    display: block;
  }

  #form-container .form-c .log-c form input[type="checkbox"]{
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px;
    background: #191919;
  }

  #form-container .form-c .log-c form label{
    display: inline-block;
    margin-left: 5px;
    margin-top: 15px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }

  #form-container .form-c .log-c form input[type="submit"]{
    background: #191919;
    color: #fff;
    cursor: pointer;
    border: 0px;
    display: inline-block;
    float: right;
    width: auto;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 4px;
    box-sizing: border-box;
  }

  #form-container .form-c .log-c form input{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 2px solid #ccc;
    font-size: 15px;
    margin-bottom: 10px;
    outline: 0px;
    background: transparent;
  }

  #form-container .form-c .log-c .bottom a{
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    text-align: center;
    display: inline-block;
  }

  footer .f-limiter h2{
    font-size: 20px;
  }

  footer .f-limiter p{
    font-size: 12px;
  }

}
