@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2f4tq');
  src:  url('fonts/icomoon.eot?2f4tq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2f4tq') format('truetype'),
    url('fonts/icomoon.woff?2f4tq') format('woff'),
    url('fonts/icomoon.svg?2f4tq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-database:before {
  content: "\e964";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-more_vert:before {
  content: "\e906";
}
.icon-keyboard_arrow_down:before {
  content: "\e900";
}
.icon-glass:before {
  content: "\e902";
}
.icon-user-circle-o:before {
  content: "\e908";
}
.icon-user-circle:before {
  content: "\e907";
}
.icon-list:before {
  content: "\e903";
}
.icon-clipboard:before {
  content: "\e904";
}
