*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-weight: normal;
}

body{
  background: #ccc;
}

/* width */
header ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
header ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
header ::-webkit-scrollbar-thumb {
    background: #ccc;
}

/* Handle on hover */
header ::-webkit-scrollbar-thumb:hover {
    background: #8F8F8F;
}

body #black{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 100;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body{
  background: #fff;
}

a{
  text-decoration: none;
  cursor: pointer;
}

header{
  position: fixed;
  background: #101010;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  box-sizing: border-box;
  color: #fff;
  height: 70px;
}

header .icon-list{
  padding: 25px;
  box-sizing: border-box;
  font-size: 20px;
  display: inline-block;
  border-radius: 3600px;
  position: absolute;
  left: 0px;
  z-index: 100;
}

header #stop-menu{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  cursor: default;
  z-index: 1000;
}

header .icon-list:hover{
  background: #000;
}

header .icon-x{
  padding: 25px;
  box-sizing: border-box;
  font-size: 20px;
  display: none;
  border-radius: 3600px;
  position: absolute;
  left: 0px;
  z-index: 100;
}

header .icon-x:hover{
  background: #000;
}

header .admin-title{
  display: inline-block;
  position: relative;
  font-size: 26px;
  margin-left: 70px;
  padding: 20px 0px;
}

header #p-menu{
  width: 90%;
  max-width: 300px;
  height: calc(100vh - 70px);
  position: absolute;
  overflow: auto;
  background: #fff;
  left: -100%;
  transition: 0.4s;
}

header #p-menu ul{
  width: 100%;
}

header #p-menu ul h2{
  color: #8F8F8F;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
}

header #p-menu ul li{
  padding: 20px;
  box-sizing: border-box;
  color: #191919;
  text-transform: capitalize;
  font-weight: bold;
}

header #p-menu ul li:hover{
  background: #ededed;
}

header #p-menu ul li span{
 margin-right: 20px;
 color: #8F8F8F;
}

header .user-menu{
  position: absolute;
  top: 0px;
  right: 40px;
  width: 200px;
  height: 70px;
  text-align: right;
  text-align: center;
}

header .user-menu .icon-user-circle{
  font-size: 40px;
  margin: 16px 0px;
  display: inline-block;
  position: relative;
  color: #fff;
  cursor: pointer;
  margin-right: 0px;
}

header .user-menu .icon-user-circle-o{
  font-size: 40px;
  margin: 16px 0px;
  display: none;
  position: relative;
  color: #fff;
  cursor: pointer;
}

header .user-menu span{
  vertical-align: top;
  padding-top: 25px;
  padding-left: 5px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

header .user-menu .texto-2{
  display: none;
}

header .user-menu ul{
  margin-top: -2px;
  position: relative;
  overflow: hidden;
  max-height: 0px;
  transition: 0.4s;
  transition-delay: 0.2s;
}

header .user-menu ul .user-name{
  font-size: 18px;
  background: #101010;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

header .user-menu ul a{
  display: block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 200px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

header .user-menu ul a:hover{
  background: #454545;
}

#body-content{
  width: 100%;
  height: auto;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
}

#body-content .section-title{
  width: 100%;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#body-content .section-title a{
  display: inline-block;
  margin: 10px 20px;
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.6;
  font-family: 'Lato';
}

#body-content .section-title .selected{
  opacity: 1;
  cursor: default;
}

#body-content .section-title a:hover{
  opacity: 1;
}

#body-content .limiter{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 150px);
  padding: 40px 10px;
  background: #f0f0f0;
  box-sizing: border-box;
  position: relative;
}

#body-content .g-limiter{
  width: 100%;
  display: block;
  text-align: center;
  min-height: calc(100vh - 150px);
  padding: 40px 10px;
  background: #f0f0f0;
  box-sizing: border-box;
  position: relative;
}

#body-content .limiter .block{
  display: inline-block;
  float: left;
  margin: 10px;
  width: calc(33% - 20px);
  min-height: 300px;
  box-shadow: 0px 2px 8px #B8B8B8;
  background: #fff;
  border-radius: 4px;
}

#body-content .limiter .block-title{
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#body-content .limiter .block-title span{
  margin-right: 15px;
}

#body-content .limiter .block-title .icon-more_vert{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 26px;
  cursor: pointer;
}

/*--USER PROFILE--*/

#body-content .limiter #user-limiter{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

#body-content .limiter #user-limiter .user-left{
  width: 100%;
  display: inline-block;
}

#body-content .limiter #user-limiter .user-left .thumb{
  width: 284px;
  height: 284px;
  border-radius: 3600px;
  position: relative;
  background: #fff;
  margin: 10px;
  float: left;
  overflow: hidden;
  border: 8px solid #000;
}

#body-content .limiter #user-limiter .user-left .user-title{
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 6px solid #333;
  font-weight: bold;
  margin-top: 100px;
  font-size: 26px;
  float: right;
  width: calc(100% - 320px);
}

#body-content .limiter #user-limiter .user-left .user-title span{
  display: block;
  font-size: 14px;
  font-weight: bold;
  float: right;
}

#body-content .limiter #user-limiter .user-left .thumb span{
  font-size: 300px;
  position: absolute;
  display: inline-block;
  top: -8px;
  left: -8px;
}

#body-content .limiter #user-limiter .user-left .thumb img{
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

#body-content .limiter #user-limiter .user-right{
  width: 100%;
  display: inline-block;
}

#body-content .limiter #user-limiter .user-right form .element-b{
  display: inline-block;
  width: 49.8%;
}

#body-content .limiter #user-limiter .user-right form{
  text-align: center;
}

/*#body-content .limiter #user-limiter .user-right form .element-b:nth-child(9){
  display: inline-block;
  width: 100%;
}*/

#body-content .limiter #user-limiter .user-right form label{
  padding: 20px;
  box-sizing: border-box;
  border-left: 6px solid #333;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin: 20px 0px;
  width: 100%;
  text-align: left;
}

#body-content .limiter #user-limiter .user-right form h3{
  padding: 20px;
  box-sizing: border-box;
  border-left: 6px solid #333;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin: 20px 0px;
  margin-bottom: 0px;
  width: 100%;
}

#body-content .limiter #user-limiter .user-right form input{
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #333;
  outline: 0px;
  font-size: 16px;
  width: 100%;
  display: inline-block;
}

#body-content .limiter #user-limiter .user-right form label[for="fechaDeNacimiento"]{
  width: 100%;
  display: inline-block;
}

#body-content .limiter #user-limiter .user-right form input[type="date"]{
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #333;
  outline: 0px;
  font-size: 16px;
  width: 100%;
}

#body-content .limiter #user-limiter .user-right form .genre-c{
  width: 100%;
  display: inline-block;
  text-align: center;
}

#body-content .limiter #user-limiter .user-right form label[for="masculino"]{
  padding: 10px;
  box-sizing: border-box;
  border: 0px;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  margin: 20px 0px;
  width: auto;
  cursor: pointer;
}

#body-content .limiter #user-limiter .user-right form label[for="masculino"] + input{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 20px;
  cursor: pointer;
}

#body-content .limiter #user-limiter .user-right form label[for="femenino"]{
  padding: 10px;
  box-sizing: border-box;
  border: 0px;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  margin: 20px 0px;
  width: auto;
  cursor: pointer;
}

#body-content .limiter #user-limiter .user-right form label[for="femenino"] + input{
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#body-content .limiter #user-limiter .user-right form #pass{
  width: 100%;
}

#body-content .limiter #user-limiter .user-right form input[type="submit"]{
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #333;
  outline: 0px;
  font-size: 16px;
  width: 100%;
  background: #333;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

#body-content .limiter #user-limiter .user-right form select{
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #333;
  outline: 0px;
  font-size: 16px;
  width: 100%;
  display: inline-block;
}

#body-content .limiter #user-limiter .user-right form input[type="submit"]:hover{
  background: #191919;
}
