*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-weight: normal;
}

#slider{
  width: 100%;
  position: relative;
}

#bod-c{
  position: relative;
  width: 100%;
}

#slider .slide{
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 0px;
  opacity: 1;
}

#slider .black-slide{
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  background:rgba(0,0,0,0.2);
  background-size: auto 160%;
  background-position: center;
  opacity: 1;
}

#slider .v-container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 500px;
  display: table;
}

#slider .v-container .container{
  display: table-cell;
  vertical-align: bottom;
}

#slider .v-container .container h2{
  color: #fff;
  font-size: 58px;
  text-align: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

#slider .v-container .container p{
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

header{
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0px;
  z-index: 1000;
}

header ul{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

header ul .logo{
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  padding-bottom: 0px;
}

header ul .login{
  font-family: 'Lato';
  border: 2px solid #fff;
  border-radius: 3600px;
  position: absolute;
  color: #fff;
  background: #2A9114;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
  box-sizing: border-box;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.2s;
}

header ul .login:hover{
  border: 2px solid #87DB76;
  background: #87DB76;
  color: #fff;
}

header ul .logo img{
  height: 60px;
}

#medals{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#medals ul{
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  text-align: center;
}

#medals ul a{
  margin: 20px;
  box-sizing: border-box;
  background: #fff;
  border: 6px solid #000;
  display: inline-block;
  border-radius: 3600px;
  width: 150px;
  height: 150px;
}

/*login*/

#login-w{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: none;
  background: rgba(0,0,0,0.5);
  position: fixed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#login-b-c{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-width: 100%;
  max-height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: none;
}

#login-back{
  width: calc(100% + 16px);
  height: calc(100vh + 8px);
  top: -4px;
  left: -8px;
  position: relative;
  background:url(img/wallpaper.jpg)#000;
  background-size: auto 160%;
  background-position: center;
  filter: blur(4px);
}

#form-container{
  position: relative;
  display: table;
  width: 100%;
  min-height: 100vh;
}

#form-container .form-c{
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#form-container .form-c .log-c{
  width: 85%;
  max-width: 440px;
  min-height: calc(40vh + 40px);
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 40px auto;
}

#form-container .form-c .log-c .icon-x{
  position: absolute;
  background: #333;
  border-radius: 3600px;
  padding: 15px;
  box-sizing: border-box;
  top: -20px;
  right: -20px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

#form-container .form-c .log-c img{
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  display: none;
}

#form-container .form-c .log-c h2{
  font-size: 28px;
  box-sizing: border-box;
  border-left: 6px solid #191919;
  color: #191919;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
  padding: 15px;
  padding-left: 20px;
  box-sizing: border-box;

  width: calc(100% + 40px);
  font-weight: bold;
}

#form-container .form-c .log-c form{
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  display: block;
}

#form-container .form-c .log-c form label{
  display: inline-block;
  margin-left: 5px;
  margin-top: 15px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

#form-container .form-c .log-c form input[type="checkbox"]{
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px;
  background: #191919;
}

#form-container .form-c .log-c form input{
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  outline: 0px;
  background: transparent;
}

#form-container .form-c .log-c form input[type="submit"]{
  background: #191919;
  color: #fff;
  cursor: pointer;
  border: 0px;
  display: inline-block;
  float: right;
  width: auto;
  padding: 14px 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

#form-container .form-c .log-c form input[type="submit"]:hover{
  background: #000;
}

#form-container .form-c .log-c .bottom{
  width: 100%;
  margin-top: 20px;
  display: block;
  position: relative;
}

#form-container .form-c .log-c .bottom a{
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  text-align: center;
  display: inline-block;
}

#form-container .form-c .log-c .bottom a:hover{
  text-decoration: underline;
}

/*SLIDE IMAGENES*/
.limiter-2{
  position: relative;
  display: block;
  width: 100%;
  top:0px;
}

.limiter-2 .text-galeria{
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#807C73  ;
}
.carrusel{
  width: 100%;
}
.carrusel li, ol{
  list-style: none;
}

.carrusel li ul{
   width: 100%;
}
.carrusel li img{
  width: 100%;
  height: auto;
}

.carrusel li{
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.carrusel li:nth-child(1){
  background:url(img/img1.jpg);
  background-size:auto 100vw;
  background-position:center;
}

.carrusel li:nth-child(2){
  background:url(img/img2.jpg);
  background-size:auto 100vw;
  background-position:center;
}

.carrusel li:nth-child(3){
  background:url(img/img3.jpg);
  background-size:auto 100vw;
  background-position:center;
}

.carrusel .slide-text{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  color:white;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.carrusel .slide-text h1{
  font-size: 50px;
}
.carrusel .slide-text p{
  margin-top: 10px;
  font-size: 20px;
}
.pagination{
  position: absolute;
  top:102%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination li{
  font-size: 20px;
  margin: 2px 5px;
  color:#858585;
  cursor: pointer;
}

.left, .right{
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 35px;
  z-index: 2;
  cursor: pointer;
}

.left{
  left: 10px;
}

.right{
  right: 10px;
}
/*BODY CONTENT*/
.body-contenido{
  width: 100%;
  height: auto;

  position: relative;
}
/*FIRMAS*/
.firmas{
  width: 100%;
  position: relative;
  height: 250px;
  display: flex;
  justify-content: center;

}
.firms-content {
    position: relative;
    width:20%;

    margin: 20px;
}

.image {
  opacity: 1;
  display: inline-block;
  width: 100%;
  border: 1px solid #dadada;
  /*ANCHO DE IMAGEN*/
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  /*ANCHO DE TEXTO*/
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.firms-content:hover .image {
  opacity: 0.3;
}

.firms-content:hover .middle-text {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/*CONTENIDO*/
.contenido{
  background: #F5F4F1  ;
  width: 100%;
  height: 500px;
  display: block;
  position: relative;
}

/*FOOTER*/
.footer{
  width: 100%;
  background: #00cc44;
  display: inline;

  position: fixed;
  bottom: 0;
  color: #fff;
  z-index: 10000;
}

.footer p{
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 10px;
}

footer{
  width: 100%;
  background: #191919;
}

footer .f-limiter{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  max-width:1100px;
  margin: 0 auto;
}

footer .f-limiter h2{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

footer .f-limiter p{
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}
