@media screen and (max-width: 500px) {

  header .admin-title{
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }

  #body-content .section-title{
    text-align: center;
  }

  #body-content .limiter .block-title{
    text-align: center;
    margin-left: -30px;
  }

}

@media screen and (max-width: 1100px) {

#body-content .limiter .block{
  display: block;
  position: relative;
  width: calc(50% - 20px);
}

#body-content .limiter #user-limiter .user-right form label{
  padding: 20px;
  box-sizing: border-box;
  border-left: 6px solid #333;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin: 20px 0px;
  width: 100%;
  text-align: center;
}

#body-content .limiter #user-limiter .user-right form .element-b{
  width: 100%;
}

}

@media screen and (max-width: 600px) {

  header .user-menu span{
    position: relative;
    max-width: 0px;
    max-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow: hidden;
  }

  header .user-menu{
    text-align: right;
    right: 10px;
  }


}

@media screen and (max-width: 800px) {

  #body-content .limiter #user-limiter .user-left .thumb{
    max-width: 284px;
    max-height: 284px;
    width: 80vw;
    height: 80vw;
    border-radius: 3600px;
    position: relative;
    background: #fff;
    margin: 0 auto;
    float: none;
    overflow: hidden;
    border: 8px solid #000;
  }

#body-content .limiter .block{
  display: block;
  position: relative;
  width: 100%;
}

#body-content .limiter #user-limiter .user-left .user-title{
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 6px solid #333;
  font-weight: bold;
  margin-top: 0px;
  font-size: 26px;
  float: right;
  display: block;
  width: 100%;
}

}
